<div class="container-fluid">
  <div class="m-2">
    <h1 class="title">Edit Kelurahan</h1>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <form [formGroup]="formValidasi">
        <mat-card
          [ngClass]="{ loading: isLoading }"
          class="mb-5 toCenter"
          style="width: 655px; height: 620px"
        >
          <div *ngIf="data">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>ID Kelurahan</mat-label>
              <input
                matInput
                formControlName="idKelurahan"
                name="idKelurahan"
                required
                appearance="outline"
                [(ngModel)]="idKelurahan"
              />
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Kelurahan</mat-label>
              <input
                matInput
                formControlName="namaKelurahan"
                name="namaKelurahan"
                oninput="this.value = this.value.toUpperCase()"
                required
                appAlfabetOnly
                appearance="outline"
                [(ngModel)]="namaKelurahan"
                maxlength="50"
              />
              <mat-error
                *ngIf="formValidasi.controls.namaKelurahan.hasError('required')"
              >
                Kelurahan tidak boleh kosong
              </mat-error>
              <mat-error
                *ngIf="
                  !formValidasi.controls.namaKelurahan.hasError('required') &&
                  !formValidasi.controls.namaKelurahan.valid
                "
              >
                Invalid
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Kode Pos</mat-label>
              <input
                matInput
                formControlName="kodePos"
                name="kodePos"
                required
                appNumberOnly
                appearance="outline"
                [(ngModel)]="kodePos"
                maxlength="5"
                minlength="4"
              />
              <mat-error> Kode Pos tidak boleh kosong </mat-error>
            </mat-form-field>
            <mat-form-field
              appearance="outline"
              style="width: 100%"
              (click)="getDataKecamatan()"
            >
              <mat-label> Kecamatan</mat-label>
              <input
                matInput
                formControlName="namaKecamatan"
                name="namaKecamatan"
                required
                appearance="outline"
                [(ngModel)]="namaKecamatan"
              />
              <img
                matSuffix
                src="/assets/icons/searchBox.svg"
                style="
                  margin-bottom: 14px;
                  margin-right: 5px;
                  height: 15px;
                  width: 15px;
                "
              />
              <mat-error>Kecamatan tidak boleh kosong </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Kabupaten/Kota</mat-label>
              <mat-select
                formControlName="selectIdKabupaten"
                name="selectIdKabupaten"
                [(ngModel)]="selectIdKabupaten"
                required
              >
                <mat-option>None</mat-option>
                <mat-option
                  *ngFor="let element of dataKabupaten"
                  [value]="element.cityId"
                  >{{ element.cityId + " - " + element.cityName }}</mat-option
                >
              </mat-select>
              <mat-error>Kabupaten/Kota tidak boleh kosong </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Provinsi</mat-label>
              <mat-select
                formControlName="selectIdProvinsi"
                name="selectIdProvinsi"
                [(ngModel)]="selectIdProvinsi"
                required
              >
                <mat-option>None</mat-option>
                <mat-option
                  *ngFor="let element of dataProvinsi"
                  [value]="element.provinceId"
                  >{{
                    element.provinceId + " - " + element.provinceName
                  }}</mat-option
                >
              </mat-select>
              <mat-error>Provinsi tidak boleh kosong </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Negara</mat-label>
              <mat-select
                formControlName="selectIdNegara"
                name="selectIdNegara"
                required
                [(ngModel)]="selectIdNegara"
              >
                <mat-option>None</mat-option>
                <mat-option
                  *ngFor="let element of dataNegara"
                  [value]="element.countryId"
                  >{{
                    element.countryId + " - " + element.countryNameIdn
                  }}</mat-option
                >
              </mat-select>
              <mat-error>Negara tidak boleh kosong </mat-error>
            </mat-form-field>

            <div class="d-flex">
              <div class="mr-auto">
                <button
                  mat-raised-button
                  *ngIf="flag === false"
                  color="warn"
                  (click)="changeStatus()"
                >
                  Non Aktifkan
                </button>
                <button
                  mat-raised-button
                  *ngIf="flag === true"
                  color="warn"
                  (click)="changeStatus()"
                  style="background-color: green"
                >
                  Aktifkan
                </button>
              </div>
              <div>
                <button
                  mat-raised-button
                  color="primary"
                  class="mr-3"
                  (click)="saveEditKelurahan()"
                  [disabled]="flag"
                >
                  Save
                </button>
              </div>
              <div>
                <button
                  mat-raised-button
                  routerLink="/wilayah-kelurahan-auth/{{ token }}"
                >
                  Cancel
                </button>
              </div>
            </div>

            <!-- <button
              mat-raised-button
              color="primary"
              class="mx-3"
              (click)="saveEditKelurahan()"
            >
              Save
            </button>
            <button
              mat-raised-button
              routerLink="/wilayah-kelurahan-auth/{{ token }}"
            >
              Cancel
            </button> -->
          </div>
          <mat-spinner *ngIf="isLoading"></mat-spinner>
        </mat-card>
      </form>
    </div>
  </div>
</div>
