<div class="container-fluid">
  <div class="m-2">
    <h1 class="title">Edit Provinsi</h1>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <form [formGroup]="formValidasi">
        <mat-card
          [ngClass]="{ loading: isLoading }"
          class="mb-5 toCenter"
          style="width: 650px; height: 300px"
        >
          <div *ngIf="data">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>ID Provinsi</mat-label>
              <input
                matInput
                formControlName="idProvinsi"
                appAlfabetOnly
                required
                appearance="outline"
              />
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Nama Provinsi</mat-label>
              <input
                matInput
                formControlName="namaProvinsi"
                appAlfabetOnly
                oninput="this.value = this.value.toUpperCase()"
                required
                appearance="outline"
                maxlength="100"
              />
              <mat-error
                *ngIf="formValidasi.controls.namaProvinsi.hasError('required')"
              >
                Nama Provinsi tidak boleh kosong
              </mat-error>
              <mat-error
                *ngIf="
                  !formValidasi.controls.namaProvinsi.hasError('required') &&
                  !formValidasi.controls.namaProvinsi.valid
                "
              >
                Invalid
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Negara</mat-label>
              <mat-select formControlName="selectIdNegara" required>
                <mat-option>None</mat-option>
                <mat-option
                  *ngFor="let element of dataNegara"
                  [value]="element.countryId"
                  >{{
                    element.countryId + " - " + element.countryNameIdn
                  }}</mat-option
                >
              </mat-select>
              <mat-error>Negara tidak boleh kosong </mat-error>
            </mat-form-field>

            <div class="d-flex">
              <div class="mr-auto">
                <button
                  mat-raised-button
                  *ngIf="flag === false"
                  color="warn"
                  (click)="changeStatus()"
                >
                  Non Aktifkan
                </button>
                <button
                  mat-raised-button
                  *ngIf="flag === true"
                  color="warn"
                  (click)="changeStatus()"
                  style="background-color: green"
                >
                  Aktifkan
                </button>
              </div>
              <div>
                <button
                  mat-raised-button
                  color="primary"
                  class="mr-3"
                  (click)="saveEditProvinsi()"
                  [disabled]="flag"
                >
                  Save
                </button>
              </div>
              <div>
                <button
                  mat-raised-button
                  routerLink="/wilayah-provinsi-auth/{{ token }}"
                >
                  Cancel
                </button>
              </div>
            </div>
          </div>
          <mat-spinner *ngIf="isLoading"></mat-spinner>
        </mat-card>
      </form>
    </div>
  </div>
</div>
